body{
  margin: 0;
  font-family: 'Roboto'
}
p {
  font-size:19px;
}
h1{
  font-size: 40px;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #c0c0c0;
}
a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}
a:hover {
  color: #595757;
}
.container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 10% 0 10%;
}


.bio-brief{
  justify-content: center;
  padding: 20px;
  text-align: center;
}
.social-media{
  display:flex; justify-content:center;
}
.logo{
  padding: 0 5px;
}

.bio-detail{
  line-height: 30px;
  padding: 0 30px;
  width: 60%;
}

.bio-detail p{
  text-align: justify;
}

.projects{
  background-color: white;
  margin: 80px 0;
}
.projects .subtitle{
  font-size: 17px;
  font-weight: 300;
}
.web-img{
  width: 700px;
  display: 'block';
  margin: 'auto';
  box-shadow: '-1px -3px 12px 7px #8b8b8b59';
}
.vid{
  width: 900px;
  height: 600px
}
.dashboard {
 width: 750px;
}

.articles{
  background-color: '#f1f1f1';
}

.article{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.article .item{
  flex-grow: 1;
  width: 47%;
  margin-top: 40px;
}
.website-item-right{
  width: 32%;
}
.website-item-left{
  width: 67%;
}



@media only screen and (max-width: 600px) {
  h1{
    font-size: 25px;
    padding-left: 10px;
    font-weight: 800;
  }
  h2{
    font-size: 24px;
    text-align: center;
  }
  p {
    font-size:16px;
  }

  .desktop-only{
    display: none;
  }
  
  .container{
      margin: 0;
      padding:0 8px;
  }

  .bio-detail{
    width: 90%;
    padding: 5%;
  }


  .projects{
    margin: 30px 0;
  }
  .projects .subtitle{
    font-size: 16px;
    padding: 0 10px;
  }
  .web-img{
    width: 300px;
  }
  .vid{
    width: 300px;
    height: 200px
  }
.dashboard {
   width: 300px;
}

  .article .item{
    flex-grow: 1;
    width: 95%;
    margin-top: 10px;
  }
  .article .item p{
    padding: 0 10px;
  }
  .website-item-right{
    width: 100%;
  }
  .website-item-left{
    width: 100%;
  }

  
}